apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
      - name: mlflow
        image: ghcr.io/mlflow/mlflow:v2.10.2
        imagePullPolicy: IfNotPresent
        command: ["mlflow", "server"]
        args:
        - "--host=0.0.0.0"
        - "--port=5000"
        - "--backend-store-uri=sqlite:///mlflow.db"
        - "--default-artifact-root=/mlflow/artifacts"
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: mlflow-service
spec:
  selector:
    app: mlflow
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
  type: ClusterIP