apiVersion: apps/v1
kind: Deployment
metadata:
  name: agent-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: agent-service
  template:
    metadata:
      labels:
        app: agent-service
    spec:
      containers:
      - name: agent-service
        image: cdquang/my-app:agent-service-latest
        imagePullPolicy: Always 
        resources:
          requests:
            cpu: "250m"
            memory: "256Mi"
          limits:
            cpu: "1000m"
            memory: "512Mi"
        ports:
        - containerPort: 5000
        env:
        - name: LLM_API_KEY
          valueFrom:
            secretKeyRef:
              name: agent-service-secrets
              key: LLM_API_KEY
        - name: LLM_PROVIDER
          value: "gemini"
        - name: LLM_BASE_URL
          value: "https://generativelanguage.googleapis.com/v1beta"
        - name: LLM_MODEL
          value: "gemini-2.5-flash"
        - name: EUREKA_SERVER_URL
          value: "http://discovery-server:8761"
        - name: EUREKA_APP_NAME
          value: "AGENT-SERVICE"
        - name: CHROME_MCP_URL
          value: "http://chrome-mcp:8000/mcp"
---
apiVersion: v1
kind: Service
metadata:
  name: agent-service
spec:
  selector:
    app: agent-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
  type: ClusterIP